.signup__image--container,
.login__image--container {
    background-image: url(https://images.unsplash.com/photo-1612690669207-fed642192c40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGVjaHxlbnwwfDF8MHx3aGl0ZXw%3D&auto=format&fit=crop&w=800&q=60);
    height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* To place the background behind other content */
}

.signup__form--container,
.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    z-index: 1; /* To place the form container above the background */
}

@media screen and (max-width: 756px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
}
